.grout {
	position: relative;
	width: 100%;
	min-height: 100vh;

	.row {
		position: relative;
		// box-sizing: border-box;
		height: 25vh;
		min-height: 240px;
	
		.brick {
			position: absolute;
			box-sizing: border-box;
			padding: 20px;
			overflow: none;			
		}
	}

	&.cols-1 {
		.brick {
			&[brick-width="1"] {
				width: percentage(1);
			}
			&[brick-width="2"] {
				width: percentage(1);
			}
			&[brick-width="3"] {
				width: percentage(1);
			}
			&[brick-width="4"] {
				width: percentage(1);
			}

			&[brick-height="1"] {
				height: 100%;
			}
			&[brick-height="2"] {
				height: 100%;
			}
			&[brick-height="3"] {
				height: 100%;
			}
			&[brick-height="4"] {
				height: 100%;
			}
		}
	}


	&.cols-2 {
		.brick {
			&[brick-width="1"] {
				width: percentage(1/2);
			}
			&[brick-width="2"] {
				width: percentage(2/2);
			}
			&[brick-width="3"] {
				width: percentage(2/2);
			}
			&[brick-width="4"] {
				width: percentage(2/2);
			}

			&[brick-height="1"] {
				height: 100%;
			}
			&[brick-height="2"] {
				height: 200%;
			}
			&[brick-height="3"] {
				height: 200%;
			}
			&[brick-height="4"] {
				height: 200%;
			}
		}
	}

	&.cols-3 {
		.brick {
			&[brick-width="1"] {
				width: percentage(1/3);
			}
			&[brick-width="2"] {
				width: percentage(2/3);
			}
			&[brick-width="3"] {
				width: percentage(3/3);
			}
			&[brick-width="4"] {
				width: percentage(3/3);
			}

			&[brick-height="1"] {
				height: 100%;
			}
			&[brick-height="2"] {
				height: 200%;
			}
			&[brick-height="3"] {
				height: 300%;
			}
			&[brick-height="4"] {
				height: 300%;
			}
		}
	}

	&.cols-4 {
		.brick {
			&[brick-width="1"] {
				width: percentage(1/4);
			}
			&[brick-width="2"] {
				width: percentage(2/4);
			}
			&[brick-width="3"] {
				width: percentage(3/4);
			}
			&[brick-width="4"] {
				width: percentage(4/4);
			}

			&[brick-height="1"] {
				height: 100%;
			}
			&[brick-height="2"] {
				height: 200%;
			}
			&[brick-height="3"] {
				height: 300%;
			}
			&[brick-height="4"] {
				height: 400%;
			}
		}
	}

}