.grout {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.grout .row {
  position: relative;
  height: 25vh;
  min-height: 300px;
}
.grout .row:nth-child(1),
.grout .row:nth-child(2),
.grout .row:nth-child(3),
.grout .row:nth-child(4) {
  min-height: 0;
}
.grout .row .tile {
  position: absolute;
  box-sizing: border-box;
}
.grout.cols-1 .tile[tile-width="1"] {
  width: 100%;
}
.grout.cols-1 .tile[tile-width="2"] {
  width: 100%;
}
.grout.cols-1 .tile[tile-width="3"] {
  width: 100%;
}
.grout.cols-1 .tile[tile-width="4"] {
  width: 100%;
}
.grout.cols-1 .tile[tile-height="1"] {
  min-height: 100%;
}
.grout.cols-1 .tile[tile-height="2"] {
  min-height: 100%;
}
.grout.cols-1 .tile[tile-height="3"] {
  min-height: 100%;
}
.grout.cols-1 .tile[tile-height="4"] {
  min-height: 100%;
}
.grout.cols-2 .tile[tile-width="1"] {
  width: 50%;
}
.grout.cols-2 .tile[tile-width="2"] {
  width: 100%;
}
.grout.cols-2 .tile[tile-width="3"] {
  width: 100%;
}
.grout.cols-2 .tile[tile-width="4"] {
  width: 100%;
}
.grout.cols-2 .tile[tile-height="1"] {
  height: 100%;
}
.grout.cols-2 .tile[tile-height="2"] {
  height: 200%;
}
.grout.cols-2 .tile[tile-height="3"] {
  height: 300%;
}
.grout.cols-2 .tile[tile-height="4"] {
  height: 400%;
}
.grout.cols-3 .tile[tile-width="1"] {
  width: 33.33333333%;
}
.grout.cols-3 .tile[tile-width="2"] {
  width: 66.66666667%;
}
.grout.cols-3 .tile[tile-width="3"] {
  width: 100%;
}
.grout.cols-3 .tile[tile-width="4"] {
  width: 100%;
}
.grout.cols-3 .tile[tile-height="1"] {
  height: 100%;
}
.grout.cols-3 .tile[tile-height="2"] {
  height: 200%;
}
.grout.cols-3 .tile[tile-height="3"] {
  height: 300%;
}
.grout.cols-3 .tile[tile-height="4"] {
  height: 400%;
}
.grout.cols-4 .tile[tile-width="1"] {
  width: 25%;
}
.grout.cols-4 .tile[tile-width="2"] {
  width: 50%;
}
.grout.cols-4 .tile[tile-width="3"] {
  width: 75%;
}
.grout.cols-4 .tile[tile-width="4"] {
  width: 100%;
}
.grout.cols-4 .tile[tile-height="1"] {
  height: 100%;
}
.grout.cols-4 .tile[tile-height="2"] {
  height: 200%;
}
.grout.cols-4 .tile[tile-height="3"] {
  height: 300%;
}
.grout.cols-4 .tile[tile-height="4"] {
  height: 400%;
}
